body.layout-fixed {
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: $body-grey;
}

.main-content-container {
    margin-left: 250px;
}

h1{}
h2{}
h3 {
    &.card-title {
        float: left;
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0;
    }
}

.btn {
    &.disabled {
        cursor:initial !important;
    }
}
