// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
@import 'global';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* ================= START LOGIN CONTAINER ================= */
.login-container {
    background-color: $body-grey;
    padding-top: 150px;

    .login-box {
        width: 400px;
        margin: 0 auto;
        .login-logo {
            text-align: center;
            margin-bottom: 20px;
            img {
                max-width: 100px;
            }
        }
    }
}
/* ================= END LOGIN CONTAINER ================= */

/* ================= START HEADER ================= */
.brand-link {
    img {
        opacity: .8;
        max-width: 100px;
        display: block;
        margin: 0 auto;
    }
}

.main-header {
    // transition: margin-left .3s ease-in-out;
    margin-left: 250px;
    border-bottom: 1px solid #dee2e6;
    z-index: 1034;
    background-color: white;
    display: none;
}

.layout-fixed {
    .main-sidebar {
        bottom: 0;
        float: none;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        padding: 30px 10px;
        width: 250px;

        ul {
            li {
                width: 100%;
                border: 1px solid $light-black;
                border-radius: 40px;
            }
            a {
                color: #c2c7d0;
            }
            p {
                margin-bottom: 0px;
            }
            .nav-item {
                &:hover {
                    background-color: $hover-black;
                }
            }
        }
        .user-panel {
            border-bottom: 1px solid #4f5962;
            h4 {
                color: white;
            }
        }
        &:before {
            transition: margin-left .3s ease-in-out,width .3s ease-in-out;
        }
    }
}

.sidebar-dark-primary {
    background-color: $light-black;
}

/* ================= END HEADER ================= */

.small-box {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
    text-align: center;
    font-weight: bold;
    .inner {
        padding: 10px;
    }
    .small-box-footer {
        display: none !important;
        background: $theme-green;
        color: rgba(255,255,255,.8);
        display: block;
        padding: 3px 0;
        position: relative;
        text-decoration: none;
        z-index: 10;
    }
    .icon {
        display: none;
    }
}

.no-sort::after { display: none!important; }
.no-sort { pointer-events: none!important; cursor: default!important; background-image: none !important;}

.table {
    thead {
        th {
            border-bottom: 2px solid #dee2e6 !important;
        }
    }
}
table.dataTable.no-footer {border:none;}

.dataTables_wrapper {
    .dataTables_paginate {
        .paginate_button {
            position: relative;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            border: 1px solid #dee2e6 !important;
            &.current {
                z-index: 1;
                color: white !important;
                background: linear-gradient(to bottom, #2171b3 0%, $blue 100%);
                &:hover {
                    color: white !important;
                    background: linear-gradient(to bottom, $blue 0%, $blue 100%) !important;
                }
            }
            &:hover {
                    background: linear-gradient(to bottom, $body-grey 0%, $body-grey 100%) !important;
                    color: $blue !important;
            }
        }
    }
    #table_id_filter input {
        height: calc(1.8125rem + 2px);
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        /* border-radius: .25rem; */
        box-shadow: inset 0 0 0 transparent;
        transition: border-color .15s;
        border-radius: .2rem;
    }
}

#dashboard {
    margin-bottom: 150px;
}
